<% include ../partials/_header %>

  <section class="section section--hero">
    <div class="container">
      <div class="hero__body">
        <h1 class="hero__title">
          <span class="hero__title--main">Mehdi Vasigh</span>
          <span class="hero__title--sub">Full-stack web developer</span>
        </h1>
        <hr class="separator separator--black mt-sm mb-md">
        <p class="hero__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum semper tellus, vestibulum lobortis augue consectetur
          ut. Nam lobortis semper mauris, vel egestas risus euismod in.
        </p>
        <ul class="hero__links">
          <li>
            <a href="#" class="btn btn--hero">Github</a>
          </li>
          <li>
            <a href="#" class="btn btn--hero">Codepen</a>
          </li>
          <li>
            <a href="#" class="btn btn--hero">Email</a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <h2 class="section__title">
        Skills and Knowledge
      </h2>
      <hr class="separator separator--black mb-md mt-sm">
      <div class="float-row">
        <div class="col-2-of-3">
          <p class="mb-md">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur, totam illum! Delectus consequatur est, beatae, repellendus
            exercitationem quam enim autem omnis optio ipsa magnam soluta reprehenderit natus quidem, animi amet.
          </p>
          <h3 class="section__subtitle mb-sm">Comfortable With</h3>
          <div class="tag-group mb-md">
            <% skills.comfortable.forEach(skill => { %>
              <span class="tag-group__tag tag-group__tag--light">
                <%= skill %>
              </span>
              <% }) %>
          </div>
          <h3 class="section__subtitle mb-sm">Working Knowledge</h3>
          <div class="tag-group">
            <% skills.working.forEach(skill => { %>
              <span class="tag-group__tag tag-group__tag--light">
                <%= skill %>
              </span>
              <% }) %>
          </div>
        </div>
        <div class="col-1-of-3">
          <div class="box box--light">
            <p class="pull-right">
              <a href="https://www.codewars.com/users/vasighm1">
                View profile
              </a>
            </p>
            <h3 class="section__subtitle mb-sm">Codewars</h3>
            <div class="mb-sm" id="cw-card">
              <p>
                <strong>Leaderboard: </strong>
                <span id="cw-leaderboard"></span>
              </p>
              <p class="mb-sm">
                <strong>Kata: </strong>
                <span id="cw-completed"></span>
              </p>
              <div class="tag-group">
                <span class="tag-group__tag tag-group__tag--yellow">JS 5 kyu (274)</span>
                <span class="tag-group__tag tag-group__tag--blue">Py 4 kyu (438)</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <h2 class="section__title">
        Projects
      </h2>
      <hr class="separator separator--black mb-lg mt-sm">
    </div>
    <% projects.forEach(project => { %>
      <div class="project-card project-card--<%= project.classSuffix %>">
        <div class="project-card--body">
          <h2 class="project-card--title">
            <%= project.title %>
          </h2>
          <hr class="separator separator--white mt-sm mb-md">
          <p class="project-card--description mb-md">
            <%= project.description %>
          </p>
          <div class="project-card--stack mb-sm">
            <h3 class="section__subtitle mb-sm">Technologies used:</h3>
            <div class="tag-group">
              <% project.stack.forEach(tech => { %>
                <span class="tag-group__tag tag-group__tag--card">
                  <%= tech %>
                </span>
                <% }) %>
            </div>
          </div>
          <div class="project-card--buttons">
            <a href="<%= project.repo %>" class="btn btn--project mr-sm">View Code</a>
            <a href="<%= project.live %>" class="btn btn--project">Live Demo</a>
          </div>
        </div>
      </div>
      <% }) %>

  </section>

  <% include ../partials/_footer %>