<% include ../partials/_header %>

<% include ../partials/_navbar %>

  <section class="section section--hero">
    <div class="container">
      <div class="hero__body">
        <h1 class="hero__title">
          <span class="hero__title--main">Mehdi Vasigh</span>
          <span class="hero__title--sub">Full-stack web developer</span>
        </h1>
        <hr class="separator separator--black mt-sm mb-md">
        <p class="hero__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum semper tellus, vestibulum lobortis augue consectetur
          ut.
        </p>
        <ul class="hero__buttons">
          <% links.forEach(link => { %>
            <li>
              <a href="<%= link.url %>" class="btn btn--hero">
                <i class="<%= link.icon %>"></i>
                <%= link.label %>
              </a>
            </li>
          <% }) %>
        </ul>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <h2 class="section__title">
        I enjoy building applications for the modern web 
      </h2>
      <hr class="separator separator--black mb-lg mt-sm">
          <p class="mb-md">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur, totam illum! Delectus consequatur est, beatae, repellendus
            exercitationem quam enim.
          </p>
          <h3 class="section__subtitle mb-sm">Comfortable With</h3>
          <div class="tag-group mb-md">
            <% skills.comfortable.forEach(skill => { %>
              <span class="tag-group__tag tag-group__tag--light">
                <%= skill %>
              </span>
              <% }) %>
          </div>
          <h3 class="section__subtitle mb-sm">Working Knowledge</h3>
          <div class="tag-group">
            <% skills.working.forEach(skill => { %>
              <span class="tag-group__tag tag-group__tag--light">
                <%= skill %>
              </span>
              <% }) %>
          </div>
    </div>
  </section>
  <section class="section pb-xl">
    <div class="container">
      <h2 class="section__title">
        Here are some projects I've worked on
      </h2>
      <hr class="separator separator--black mb-lg mt-sm">
    </div>
    <% projects.forEach(project => { %>
      <div class="project-card project-card--<%= project.classSuffix %>">
        <div class="project-card__body">
          <h2 class="project-card__title mb-md">
            <%= project.title %>
          </h2>
          <p class="project-card__description mb-md">
            <%= project.description %>
          </p>
          <div class="project-card__stack mb-sm">
            <h3 class="section__subtitle mb-sm">Technologies used:</h3>
            <div class="tag-group">
              <% project.stack.forEach(tech => { %>
                <span class="tag-group__tag tag-group__tag--card">
                  <%= tech %>
                </span>
                <% }) %>
            </div>
          </div>
          <div class="project-card--buttons">
            <a href="<%= project.repo %>" class="btn btn--project mr-sm">View Code</a>
            <a href="<%= project.live %>" class="btn btn--project">Live Demo</a>
          </div>
        </div>
      </div>
      <% }) %>

  </section>
  <section class="section section--footer pb-xl">
    <div class="container">
      <h2 class="section__title">
        Let's work together
      </h2>
      <hr class="separator separator--white mb-md mt-sm">
      <p class="mb-md">I am always interested in new, exciting opportunities. The best way to reach me is by email at <a href="mailto:mehdivasigh@gmail.com">mehdivasigh@gmail.com</a>.</p>
      <h3 class="section__subtitle text-color-white">Find me on the web:</h3>
      <p class="text-align-center text-color-grey-medium mt-xl">Made with <i class="fas fa-heart text-color-grey-medium"></i> by Mehdi Vasigh <br/>
      <a href="#">View this project on GitHub</a>
      </p>
    </div>
  </section>

  <% include ../partials/_footer %>